html, body{
    width: 100vw;
    position: relative;
    z-index: 0;
    /* background-color: cadetblue; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left-app{
   padding-left: 5px;
}

.list-mess{
    z-index: 0;
    position: fixed;
    width: 24.5vw;
    padding-top: 10px;
    /* border-bottom: 3px solid green; */
    /* padding-left:5px; */
    /* padding: 2px; */
    /* border-right: 3px solid green;
    border-top: 1px solid green;
    border-left: 1px solid green; */


}
.controller{
    /* line-height: 70px; */
    height: 70px;
    background-color: white;
    z-index: 2;
    position: relative;
    padding-right: 2px;
}
.controller-mess{
   
 
    display: flex;
    justify-content: space-between;

}
.chat{
    display: inline-block;
    font-size: 20px;
    width: 5vw;
}
.icon-chat{
    display: inline-block;
    width: 20vw;
    text-align: end;
    color: rgb(223, 35, 21);
}
.icon-chat i{
    width: 2vw;
    cursor: pointer;
}
.search-form{
    margin-top:10px;
    display: block;
    width: 20vw;
    margin: auto;
    margin-top: 5px;
    height: 30px;
}
.search-form input{
    width: 100%;
    border-radius: 20px;
    border: 1px solid;
    padding: 5px;
    text-align: center;
    height: 30px;
}
.mess-area{
    overflow-x: hidden;
    overflow-y: auto;
    height: 87vh;
    position: fixed;
    bottom: 1px;
    width: 24.5vw;
    z-index: 1;

}
/* .mess-area::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
} */

.mess{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    transition: 0.2s;
    
} 

.mess:hover{
    background-color: rgb(216, 213, 213);
    transition: 0.2s;
    border-radius: 10px;
}
.img-mess-area{
    display: inline-block;
}
    
.img-mess-area img{
    width: 50px;
    border-radius: 50%;
    vertical-align: bottom;
}
.content-mess-area{
    padding: 2px;
    width: 20vw;
    display: inline-block;
    vertical-align: bottom;
}
.content-mess{
    padding:5px;
    position: fixed;
    width: 75vw;
    left: 25vw;
    padding-left: 10px;
}
.title-mess{
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    background-color: white;
    box-shadow:1px 1px 1px 1px #000;
    
}
.logo-mess{
    margin-top: 5px;
    width: 220px;
    display: flex;
    justify-content: space-between;
    display: table;
    display: inline-block;

 
}
.logo-img{

    width: 50px;
    display: inline-block;
    display:table-cell;

    vertical-align: middle;
 
    
}
.logo-img img{
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
  
   
}
.name-title-mess{

    display: inline-block;
    width: 170px;
    display:table-cell;
    vertical-align: middle;
    margin-left: 50px;
 
}
.title-controller-mess{
    height: 70px;
    display: inline-block;
    width: 140px;
    display: flex;
    justify-content: space-around;
    color: green;
    
}
.title-controller-mess i{
    text-align: center;
    width: 40px;
    line-height: 70px;
    cursor: pointer;
}

.messing{
    margin-top: 10px;
    width: 55vw;
    overflow-y: auto;
    
    height: 80vh;
    position: fixed;
    bottom: 60px;
    /* border-top: 1px solid gray; */
}
.content-mess-1{
    width: 100%;
   
}
.content-mess-1 p{
    margin-top: 10px;
    width: fit-content;
    max-width: 40%;
    background-color: rgb(11, 113, 230);
    color: white;
    padding: 10px;
    border-radius: 20px;

}
.content-mess-2{
    width: 100%;

    display: flex;
    justify-content: flex-end;
}
.div-text-img{
    max-width: 90%;
    width: fit-content;
    display: flex;
    justify-content: space-between;
}
.content-text-2 p{
    width: fit-content;
    background-color: rgb(146, 56, 119);
    color: white;
    padding: 10px;
    border-radius: 20px;
   
    display: inline-block;
}
.img-mess-2{
    display: inline-block;
    width: 40px;
}
.img-mess-2 img{
    display: inline-block;
    width: 40px;
    border-radius: 50%;
}

.mess-input{
    height: 60px;
    position: fixed;
    bottom: 0;
 
    width: 55vw;
    
}
.icons-input{
    width: fit-content;
}
.icons-input i{
    cursor: pointer;
    width: 30px;
    text-align: center;
    color:  rgb(45, 175, 12);
}
.input-like{
    width: 100%;
}
.input-like i{
    cursor: pointer;
    width: 4%;
    text-align: center;
    color: red;
    height: 30px;
    
}
.input-like form{
    display: inline-block;
    width: 96%;
    height: 30px;
    margin-top: 2px;
}
.input-like form input{
    display: inline-block;
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
}
.phone-call{
    margin:auto;
    width: 100vw;
    height: 100vh;
    border: 1px solid gray;
    left: 20px;
    text-align: center;
    /* right: 10vw; */
}

.img-call img{
    width:100px;
    border-radius: 50%;
    height: 100px;
}
.content-call{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.btn-call-end{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.btn-call-end button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:5px solid black
}
.phone-call i{
    color: green;
}


.phone-call-video{
    margin:auto;
    width: 100vw;
    height: 100vh;
    border: 1px solid gray;
    left: 20px;
    text-align: center;
    /* right: 10vw; */
}
.img-call-video img{
    width:100px;
    border-radius: 50%;
    height: 100px;
}
.content-call-video-end{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.btn-call-video-end{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.btn-call-video-end button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:5px solid black
}
.phone-call-video i{
    color: green;
}

.messing-messinput{
    display: flex;
    width: 75vw;
    justify-content: space-between;
}

.info-in-content-mess{
    width: 19.5vw;
    height: 75vh;
}
.info{
    height: calc(100vh - 110px);
    width: 18.7vw;
    flex-direction: column;
}


/* component info */
.logo-info{
    margin-top:10px;
    
    width: 100%;
    height: 25%;
    text-align: center;
    border: 1px solid gray;
    border-radius: 25px;
}
.logo-img-info{
    height: 40%;
    width: 60px;
    margin: auto;
}
.logo-img-info img{
    
    width: 60px;
    border-radius: 50%;
}
.name-title-info{
    height: 30%;
}
.rank i{
    height: 30%;
    color: rgb(197, 197, 16);
}
.special-mess{
    margin-top:5px;
    width: 100%;
    height: 25%;
    border: 1px solid black;
    border: 1px solid gray;
    border-radius: 25px;
}
.special-mess-title{
    line-height: 30px;
    height: 30px;
    width: 100%;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
.special-mess-title-icon{
    width: 50%;
    padding: 10px;
    display: inline-block;
}
.special-mess-title-arrow{
    cursor: pointer;
    padding: 10px;
    padding-right: 20px;
    text-align: end;
    width: 40px;
    display: inline-block;
    font-size: 20px;
}
/* component info */



/*modal appointment */

.modal-appointment{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.modal-appointment i{
    cursor: pointer;
}
.modal-appointment hr{
    size: 10px !important;
}
.modal-appointmen-form{
    width: 100%;
}
.modal-appointmen-form form{
    width: 100%;
    margin-bottom: 15px;
}
.modal-appointmen-form form textarea{
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border-left: 2px solid gray;
    border-top: 1px solid gray;
    border-right:1px solid gray;
    border-bottom: 1px solid gray   ;
}
.person-service{
    color: black !important;
}
.drop-person{
    cursor: pointer;
}
.group-time{
    height: 50px;
    line-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.time{
    text-align: center;
    width: 100px;
    height: 50px;
    border: 1px solid black;
}

.date-picker-group{
    width: 100%;
    height: 50px;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px
}
.react-datepicker-popper{
    width: 750px;
   display: flex;
   justify-content: end;
}
.laplai{
    margin-top: 15px;
}
.modal-group-btn-date-picker{
    width: 100%;
    display: flex;
    justify-content: end;
}
.date-picker-button{
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.modal-group-btn-date-picker button{
    width: 60px;

}
/*modal appointment*/



/* Modal mic */
.react-mic-modal{
    width: 100%;
    background-color: rgb(21, 126, 145);
    border-radius: 40px;
}
.modal-react-mic-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.modal-react-mic-btn button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
}
.close-mic-icon{
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    
}
.group-time-icon{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.send-record{
    cursor: pointer;
}
/* Modal mic */